.newsfeed-overall-container {
  width: 85%;
  background: black;
  /* margin-left: 20%; */
  border-radius: 15px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsfeed-overall-container:hover {
  border: 5px solid #a6922b;
}

.newsfeed-inner-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: "center";
  align-items: "5rem";
}

.newsfeed-img {
  width: 450px;
  /* height: 200px; */
  height: 100%;
}

.news-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 60%;
  margin-left: 2rem;
}

.newsfeed-link {
  color: #bdb7b7;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.newsfeed-snippet {
  width: 75%;
  font-size: 1.5rem;
  color: #828181;
  margin-right: 10px;
}

.newsfeed-date {
  /* color: rgb(128, 126, 126); */
  color: #a6922b;
}
