.search-wrapper {
  display: flex;
  position: relative;
  min-width: 100px;
  max-width: 200px;
}

.search {
  border: 1px solid rgb(250, 247, 247);
  border-radius: 5px;
  height: 25px;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #1f1b1b76;
  color: #ded3d3;
}

.search-icon {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 14px;
  max-width: 50px;
  max-height: 50px;
}

.clear-icon {
  position: absolute;
  top: 9px;
  right: 8px;
  width: 12px;
  cursor: pointer;
  /* visibility: hidden; */
}

.search:hover, .search:focus {
  border: 1px solid #f2f8f4db;
  background-color: rgb(26, 25, 25);
}
