.login_body {
  color: white;
}

#email {
  background-color: white;
  color: black;
}
.textfield__password {
  background-color: white;
  color: black;
}

#name {
  background-color: white;
  color: black;
}
