.portfolio-header {
  display: flex;
  justify-content: space-between;
}

.card-snapshot {
  display: flex;
}

.snapshot {
  margin-left: 1rem;
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.snapshot:hover {
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
}

.right-btns {
  width: 200px;
  display: flex;
  justify-content: space-around;
}

.visuals {
  margin: 80px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
/* .holdings-pie-chart, .graph {
  width: 800px;
  height: 500px;
} */

.coin-list-table {
  width: 90%;
}
.coin-list-table th {
  border-bottom: 5px solid black;
}

.coin-list-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.coin-list-table td, .coin-list-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.coin-list-table tr:hover {background-color: #ddd;}


.toggle-views {
  background-color: #fff;
  border: 2px solid #1c1c1d;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.toggle-views:hover {
  background-color: #1e293b;
  color: #fff;
}

