.portfolio-header {
  display: flex;
  justify-content: space-between;
}

.card-snapshot {
  display: flex;
}

.snapshot {
  margin-left: 1rem;
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.snapshot:hover {
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
}

.right-btns {
  width: 200px;
  display: flex;
  justify-content: space-around;
}

.visuals {
  margin: 80px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
/* .holdings-pie-chart, .graph {
  width: 800px;
  height: 500px;
} */

.coin-list-table {
  width: 90%;
}
.coin-list-table th {
  border-bottom: 5px solid black;
}

.coin-list-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.coin-list-table td, .coin-list-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.coin-list-table tr:hover {background-color: #ddd;}